.lu-btn {
  padding: 18px 10px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  color: #FFFFFF;
  transition: .3s ease;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  height: 32px;

  &:focus {
    outline: none;
  }
}

.lu-btn-default {
  color: var(--lu-text-F);
  border: 1px solid var(--lu-text-C);
  background-color: var(--lu-text-A);

  &:hover {
    color: var(--lu-text-G);
    background-color: var(--lu-text-C);
  }

  &:active {
    color: var(--lu-text-G);
    background-color: var(--lu-text-C);
    border: 1px solid var(--lu-text-G);
  }

  &:disabled {
    color: var(--lu-text-B);
    background-color: var(--lu-text-A);
    border: 1px solid var(--lu-text-A);
    cursor: not-allowed;
  }
}

$themeStatusList : (primary, success, warning, danger);

@each $themeStatus in $themeStatusList {
  .lu-btn-#{$themeStatus} {
    background-color: var(--lu-#{$themeStatus}-F);
    box-shadow: 0 0 2px var(--lu-#{$themeStatus}-F);
    border: 1px solid var(--lu-#{$themeStatus}-F);

    &:hover {
      background-color: var(--lu-#{$themeStatus}-E);
    }

    &:active {
      background-color: var(--lu-#{$themeStatus}-G);
    }

    &:disabled {
      background-color: var(--lu-#{$themeStatus}-C);
      border: 1px solid var(--lu-#{$themeStatus}-C);
      cursor: not-allowed;
    }
  }
}

.lu-btn-text {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: var(--lu-text-F);

  &:hover {
    color: var(--lu-text-E);
  }

  &:active {
    color: var(--lu-text-G);
  }

  &:disabled {
    color: var(--lu-text-C);
    cursor: not-allowed;
  }
}