@import "../../../styles/color/global-theme.scss";

.lu-button {
  padding: 12px 12px;
  margin: 4px;
  cursor: pointer;
  color: #FFFFFF;
  white-space: nowrap;
  transition: 0.1s ease;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.lu-button-loading {
  -webkit-animation: $ani-rotate;
  animation: $ani-rotate;
}

@each $sizeKey,
$sizeValue in (mini: $var-size-mini, small: $var-size-small, default: $var-size-default, large: $var-size-large) {
  .lu-button-size-#{$sizeKey} {
    height: $sizeValue;
    min-width: $sizeValue;
  }

  .lu-button-circle {
    height: $sizeValue;
    width: $sizeValue;
  }
}

.lu-button-size-mini {
  font-size: 12px;
}


.lu-button-shape-default {
  border-radius: $var-border-radius-small;
}

.lu-button-shape-round {
  border-radius: $var-border-radius-round;
}

.lu-button-shape-circle {
  position: relative;
  border-radius: $var-border-radius-circle;
}

.lu-button-default {
  color: $var-text-G;
  border: 1px solid $var-text-D;
  background-color: var(--lu-white);

  &:hover {
    color: $var-primary-F;
    background-color: $primary-A;
    border: 1px solid $var-primary-C;
  }

  &:active {
    color: $var-primary-F;
    background-color: $primary-A;
    border: 1px solid $var-primary-G;
  }

  &:disabled {
    opacity: $var-opacity-5;
    cursor: not-allowed;
  }
}



@each $themeStatus in (primary, success, warning, danger) {
  .lu-button-#{$themeStatus} {
    background-color: var(--lu-#{$themeStatus}-F);
    box-shadow: 0 0 1px var(--lu-#{$themeStatus}-F);
    border: 1px solid var(--lu-#{$themeStatus}-F);

    &:hover {
      background-color: var(--lu-#{$themeStatus}-E);
    }

    &:active {
      background-color: var(--lu-#{$themeStatus}-G);
    }

    &:disabled {
      opacity: $var-opacity-5;
      cursor: not-allowed;
    }
  }

  .lu-button-plain-#{$themeStatus} {
    color: var(--lu-#{$themeStatus}-G);
    border: 1px solid var(--lu-#{$themeStatus}-F);
    background-color: var(--lu-#{$themeStatus}-B);

    &:hover {
      color: #FFFFFF;
      background-color: var(--lu-#{$themeStatus}-F);
    }

    &:active {
      color: var(--lu-#{$themeStatus}-G);
      background-color: var(--lu-#{$themeStatus}-A);
    }

    &:disabled {
      opacity: $var-opacity-5;
      cursor: not-allowed;
    }
  }
}


@each $themeStatus in (primary, success, warning, danger) {
  html[class="dark"] {
    .lu-button-plain-#{$themeStatus} {
      color: var(--lu-#{$themeStatus}-A);
      border: 1px solid var(--lu-#{$themeStatus}-A);
      background: var(--lu-#{$themeStatus}-G);

      &:hover {
        color: #FFFFFF;
        background-color: var(--lu-#{$themeStatus}-F);
      }

      &:active {
        color: var(--lu-#{$themeStatus}-G);
        background-color: var(--lu-#{$themeStatus}-A);
      }

      &:disabled {
        opacity: $var-opacity-5;
        cursor: not-allowed;
      }
    }
  }
}