@import "../../../styles/color/global-theme.scss";

.lu-space {
  display: flex;

  --lu-space-item-margin: 0;

  &-horizontal {
    flex-direction: row;

    &>* {
      margin-right: var(--lu-space-item-margin);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-vertical {
    flex-direction: column;

    &>* {
      margin-bottom: var(--lu-space-item-margin);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-auto {
    align-items: auto;
  }

  &-fixed {
    align-items: flex-start;
  }

  &-align-center:not(.lu-space-vertical) {
    align-items: center;
  }

  &-align-start {
    align-items: flex-start;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-align-baseline {
    align-items: baseline;
  }

  &-wrap {
    flex-wrap: wrap;

    &>* {
      margin-bottom: var(--lu-space-item-margin);
    }
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;

    &>* {
      margin-bottom: var(--lu-space-item-margin);
    }
  }


}