@font-face {
  font-family: 'coolicons';
  src:
    url('/packages/styles/fonts/coolicons.ttf?44fbbv') format('truetype'),
    url('/packages/styles/fonts/coolicons.woff?44fbbv') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coolicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coolicons-AddColumn:before {
  content: "\e900";
}

.coolicons-AddMinusSquare:before {
  content: "\e901";
}

.coolicons-AddPlusCircle:before {
  content: "\e902";
}

.coolicons-AddPlusSquare:before {
  content: "\e903";
}

.coolicons-AddPlus:before {
  content: "\e904";
}

.coolicons-AddRow:before {
  content: "\e905";
}

.coolicons-AddToQueue:before {
  content: "\e906";
}

.coolicons-Airplay:before {
  content: "\e907";
}

.coolicons-Alarm:before {
  content: "\e908";
}

.coolicons-Archive:before {
  content: "\e909";
}

.coolicons-ArrowCircleDownLeft:before {
  content: "\e90a";
}

.coolicons-ArrowCircleDownRight:before {
  content: "\e90b";
}

.coolicons-ArrowCircleDown:before {
  content: "\e90c";
}

.coolicons-ArrowCircleLeft:before {
  content: "\e90d";
}

.coolicons-ArrowCircleRight:before {
  content: "\e90e";
}

.coolicons-ArrowCircleUpLeft:before {
  content: "\e90f";
}

.coolicons-ArrowCircleUpRight:before {
  content: "\e910";
}

.coolicons-ArrowCircleUp:before {
  content: "\e911";
}

.coolicons-ArrowDownLeftLG:before {
  content: "\e912";
}

.coolicons-ArrowDownLeftMD:before {
  content: "\e913";
}

.coolicons-ArrowDownLeftSM:before {
  content: "\e914";
}

.coolicons-ArrowDownLG:before {
  content: "\e915";
}

.coolicons-ArrowDownMD:before {
  content: "\e916";
}

.coolicons-ArrowDownRightLG:before {
  content: "\e917";
}

.coolicons-ArrowDownRightMD:before {
  content: "\e918";
}

.coolicons-ArrowDownRightSM:before {
  content: "\e919";
}

.coolicons-ArrowDownSM:before {
  content: "\e91a";
}

.coolicons-ArrowDownUp:before {
  content: "\e91b";
}

.coolicons-ArrowLeftLG:before {
  content: "\e91c";
}

.coolicons-ArrowLeftMD:before {
  content: "\e91d";
}

.coolicons-ArrowLeftRight:before {
  content: "\e91e";
}

.coolicons-ArrowLeftSM:before {
  content: "\e91f";
}

.coolicons-ArrowReload02:before {
  content: "\e920";
}

.coolicons-ArrowRightLG:before {
  content: "\e921";
}

.coolicons-ArrowRightMD:before {
  content: "\e922";
}

.coolicons-ArrowRightSM:before {
  content: "\e923";
}

.coolicons-ArrowSubDownLeft:before {
  content: "\e924";
}

.coolicons-ArrowSubDownRight:before {
  content: "\e925";
}

.coolicons-ArrowSubLeftDown:before {
  content: "\e926";
}

.coolicons-ArrowSubLeftUp:before {
  content: "\e927";
}

.coolicons-ArrowSubRightDown:before {
  content: "\e928";
}

.coolicons-ArrowSubRightUp:before {
  content: "\e929";
}

.coolicons-ArrowSubUpLeft:before {
  content: "\e92a";
}

.coolicons-ArrowSubUpRight:before {
  content: "\e92b";
}

.coolicons-ArrowUndoDownLeft:before {
  content: "\e92c";
}

.coolicons-ArrowUndoDownRight:before {
  content: "\e92d";
}

.coolicons-ArrowUndoUpLeft:before {
  content: "\e92e";
}

.coolicons-ArrowUndoUpRight:before {
  content: "\e92f";
}

.coolicons-ArrowUpLeftLG:before {
  content: "\e930";
}

.coolicons-ArrowUpLeftMD:before {
  content: "\e931";
}

.coolicons-ArrowUpLeftSM:before {
  content: "\e932";
}

.coolicons-ArrowUpLG:before {
  content: "\e933";
}

.coolicons-ArrowUpMD:before {
  content: "\e934";
}

.coolicons-ArrowUpRightLG:before {
  content: "\e935";
}

.coolicons-ArrowUpRightMD:before {
  content: "\e936";
}

.coolicons-ArrowUpRightSM:before {
  content: "\e937";
}

.coolicons-ArrowUpSM:before {
  content: "\e938";
}

.coolicons-ArrowsReload01:before {
  content: "\e939";
}

.coolicons-BarBottom:before {
  content: "\e93a";
}

.coolicons-BarLeft:before {
  content: "\e93b";
}

.coolicons-BarRight:before {
  content: "\e93c";
}

.coolicons-BarTop:before {
  content: "\e93d";
}

.coolicons-BellAdd:before {
  content: "\e93e";
}

.coolicons-BellClose:before {
  content: "\e93f";
}

.coolicons-BellNotification:before {
  content: "\e940";
}

.coolicons-BellOff:before {
  content: "\e941";
}

.coolicons-BellRemove:before {
  content: "\e942";
}

.coolicons-BellRing:before {
  content: "\e943";
}

.coolicons-Bell:before {
  content: "\e944";
}

.coolicons-Bold:before {
  content: "\e945";
}

.coolicons-BookOpen:before {
  content: "\e946";
}

.coolicons-Book:before {
  content: "\e947";
}

.coolicons-Bookmark:before {
  content: "\e948";
}

.coolicons-Building01:before {
  content: "\e949";
}

.coolicons-Building02:before {
  content: "\e94a";
}

.coolicons-Building03:before {
  content: "\e94b";
}

.coolicons-Building04:before {
  content: "\e94c";
}

.coolicons-Bulb:before {
  content: "\e94d";
}

.coolicons-CalendarAdd:before {
  content: "\e94e";
}

.coolicons-CalendarCheck:before {
  content: "\e94f";
}

.coolicons-CalendarClose:before {
  content: "\e950";
}

.coolicons-CalendarDays:before {
  content: "\e951";
}

.coolicons-CalendarEvent:before {
  content: "\e952";
}

.coolicons-CalendarRemove:before {
  content: "\e953";
}

.coolicons-CalendarWeek:before {
  content: "\e954";
}

.coolicons-Calendar:before {
  content: "\e955";
}

.coolicons-Camera:before {
  content: "\e956";
}

.coolicons-CarAuto:before {
  content: "\e957";
}

.coolicons-CaretCircleDown:before {
  content: "\e958";
}

.coolicons-CaretCircleLeft:before {
  content: "\e959";
}

.coolicons-CaretCircleRight:before {
  content: "\e95a";
}

.coolicons-CaretCircleUp:before {
  content: "\e95b";
}

.coolicons-CaretDownMD:before {
  content: "\e95c";
}

.coolicons-CaretDownSM:before {
  content: "\e95d";
}

.coolicons-CaretLeftSM:before {
  content: "\e95e";
}

.coolicons-CaretRightSM:before {
  content: "\e95f";
}

.coolicons-CaretUpMD:before {
  content: "\e960";
}

.coolicons-CaretUpSM:before {
  content: "\e961";
}

.coolicons-ChartBarHorizontal01:before {
  content: "\e962";
}

.coolicons-ChartBarVertical01:before {
  content: "\e963";
}

.coolicons-ChartLine:before {
  content: "\e964";
}

.coolicons-ChartPie:before {
  content: "\e965";
}

.coolicons-ChatAdd:before {
  content: "\e966";
}

.coolicons-ChatCheck:before {
  content: "\e967";
}

.coolicons-ChatCircleAdd:before {
  content: "\e968";
}

.coolicons-ChatCircleCheck:before {
  content: "\e969";
}

.coolicons-ChatCircleClose:before {
  content: "\e96a";
}

.coolicons-ChatCircleDots:before {
  content: "\e96b";
}

.coolicons-ChatCircleRemove:before {
  content: "\e96c";
}

.coolicons-ChatCircle:before {
  content: "\e96d";
}

.coolicons-ChatClose:before {
  content: "\e96e";
}

.coolicons-ChatConversationCircle:before {
  content: "\e96f";
}

.coolicons-ChatConversation:before {
  content: "\e970";
}

.coolicons-ChatDots:before {
  content: "\e971";
}

.coolicons-ChatRemove:before {
  content: "\e972";
}

.coolicons-Chat:before {
  content: "\e973";
}

.coolicons-CheckAllBig:before {
  content: "\e974";
}

.coolicons-CheckAll:before {
  content: "\e975";
}

.coolicons-CheckBig:before {
  content: "\e976";
}

.coolicons-Check:before {
  content: "\e977";
}

.coolicons-CheckboxCheck:before {
  content: "\e978";
}

.coolicons-CheckboxFill:before {
  content: "\e979";
}

.coolicons-CheckboxUnchecked:before {
  content: "\e97a";
}

.coolicons-ChevronDownDuo:before {
  content: "\e97b";
}

.coolicons-ChevronDown:before {
  content: "\e97c";
}

.coolicons-ChevronLeftDuo:before {
  content: "\e97d";
}

.coolicons-ChevronLeftMD:before {
  content: "\e97e";
}

.coolicons-ChevronLeft:before {
  content: "\e97f";
}

.coolicons-ChevronRightDuo:before {
  content: "\e980";
}

.coolicons-ChevronRightMD:before {
  content: "\e981";
}

.coolicons-ChevronRight:before {
  content: "\e982";
}

.coolicons-ChevronUpDuo:before {
  content: "\e983";
}

.coolicons-ChevronUp:before {
  content: "\e984";
}

.coolicons-Chromecast:before {
  content: "\e985";
}

.coolicons-CircleCheck:before {
  content: "\e986";
}

.coolicons-CircleHelp:before {
  content: "\e987";
}

.coolicons-CircleWarning:before {
  content: "\e988";
}

.coolicons-Circle:before {
  content: "\e989";
}

.coolicons-Clock:before {
  content: "\e98a";
}

.coolicons-CloseCircle:before {
  content: "\e98b";
}

.coolicons-CloseLG:before {
  content: "\e98c";
}

.coolicons-CloseMD:before {
  content: "\e98d";
}

.coolicons-CloseSM:before {
  content: "\e98e";
}

.coolicons-CloseSquare:before {
  content: "\e98f";
}

.coolicons-CloudAdd:before {
  content: "\e990";
}

.coolicons-CloudCheck:before {
  content: "\e991";
}

.coolicons-CloudClose:before {
  content: "\e992";
}

.coolicons-CloudDownload:before {
  content: "\e993";
}

.coolicons-CloudOff:before {
  content: "\e994";
}

.coolicons-CloudRemove:before {
  content: "\e995";
}

.coolicons-CloudUpload:before {
  content: "\e996";
}

.coolicons-Cloud:before {
  content: "\e997";
}

.coolicons-Code:before {
  content: "\e998";
}

.coolicons-CoffeToGo:before {
  content: "\e999";
}

.coolicons-Coffee:before {
  content: "\e99a";
}

.coolicons-Columns:before {
  content: "\e99b";
}

.coolicons-CombineCells:before {
  content: "\e99c";
}

.coolicons-Command:before {
  content: "\e99d";
}

.coolicons-Compass:before {
  content: "\e99e";
}

.coolicons-Cookie:before {
  content: "\e99f";
}

.coolicons-Copy:before {
  content: "\e9a0";
}

.coolicons-CreditCard01:before {
  content: "\e9a1";
}

.coolicons-CreditCard02:before {
  content: "\e9a2";
}

.coolicons-Crop:before {
  content: "\e9a3";
}

.coolicons-Cupcake:before {
  content: "\e9a4";
}

.coolicons-Cylinder:before {
  content: "\e9a5";
}

.coolicons-Data:before {
  content: "\e9a6";
}

.coolicons-DeleteColumn:before {
  content: "\e9a7";
}

.coolicons-DeleteRow:before {
  content: "\e9a8";
}

.coolicons-DesktopTower:before {
  content: "\e9a9";
}

.coolicons-Desktop:before {
  content: "\e9aa";
}

.coolicons-Devices:before {
  content: "\e9ab";
}

.coolicons-DoubleQuotesL:before {
  content: "\e9ac";
}

.coolicons-DoubleQuotesR:before {
  content: "\e9ad";
}

.coolicons-DownloadPackage:before {
  content: "\e9ae";
}

.coolicons-Download:before {
  content: "\e9af";
}

.coolicons-DragHorizontal:before {
  content: "\e9b0";
}

.coolicons-DragVertical:before {
  content: "\e9b1";
}

.coolicons-DummyCircleSmall:before {
  content: "\e9b2";
}

.coolicons-DummyCircle:before {
  content: "\e9b3";
}

.coolicons-DummySquareSmall:before {
  content: "\e9b4";
}

.coolicons-DummySquare:before {
  content: "\e9b5";
}

.coolicons-EditPencil01:before {
  content: "\e9b6";
}

.coolicons-EditPencil02:before {
  content: "\e9b7";
}

.coolicons-EditPencilLine01:before {
  content: "\e9b8";
}

.coolicons-EditPencilLine02:before {
  content: "\e9b9";
}

.coolicons-Exit:before {
  content: "\e9ba";
}

.coolicons-Expand:before {
  content: "\e9bb";
}

.coolicons-ExternalLink:before {
  content: "\e9bc";
}

.coolicons-Figma:before {
  content: "\e9bd";
}

.coolicons-FileAdd:before {
  content: "\e9be";
}

.coolicons-FileBlank:before {
  content: "\e9bf";
}

.coolicons-FileCheck:before {
  content: "\e9c0";
}

.coolicons-FileClose:before {
  content: "\e9c1";
}

.coolicons-FileCode:before {
  content: "\e9c2";
}

.coolicons-FileDocument:before {
  content: "\e9c3";
}

.coolicons-FileDownload:before {
  content: "\e9c4";
}

.coolicons-FileEdit:before {
  content: "\e9c5";
}

.coolicons-FileRemove:before {
  content: "\e9c6";
}

.coolicons-FileSearch:before {
  content: "\e9c7";
}

.coolicons-FileUpload:before {
  content: "\e9c8";
}

.coolicons-Files:before {
  content: "\e9c9";
}

.coolicons-FilterOff:before {
  content: "\e9ca";
}

.coolicons-Filter:before {
  content: "\e9cb";
}

.coolicons-FirstAid:before {
  content: "\e9cc";
}

.coolicons-Flag:before {
  content: "\e9cd";
}

.coolicons-FolderAdd:before {
  content: "\e9ce";
}

.coolicons-FolderCheck:before {
  content: "\e9cf";
}

.coolicons-FolderClose:before {
  content: "\e9d0";
}

.coolicons-FolderCode:before {
  content: "\e9d1";
}

.coolicons-FolderDocument:before {
  content: "\e9d2";
}

.coolicons-FolderDownload:before {
  content: "\e9d3";
}

.coolicons-FolderEdit:before {
  content: "\e9d4";
}

.coolicons-FolderOpen:before {
  content: "\e9d5";
}

.coolicons-FolderRemove:before {
  content: "\e9d6";
}

.coolicons-FolderSearch:before {
  content: "\e9d7";
}

.coolicons-FolderUpload:before {
  content: "\e9d8";
}

.coolicons-Folder:before {
  content: "\e9d9";
}

.coolicons-Folders:before {
  content: "\e9da";
}

.coolicons-Font:before {
  content: "\e9db";
}

.coolicons-Forward:before {
  content: "\e9dc";
}

.coolicons-Gift:before {
  content: "\e9dd";
}

.coolicons-Globe:before {
  content: "\e9de";
}

.coolicons-HamburgerLG:before {
  content: "\e9df";
}

.coolicons-HamburgerMD:before {
  content: "\e9e0";
}

.coolicons-Handbag:before {
  content: "\e9e1";
}

.coolicons-HeadingH1:before {
  content: "\e9e2";
}

.coolicons-HeadingH2:before {
  content: "\e9e3";
}

.coolicons-HeadingH3:before {
  content: "\e9e4";
}

.coolicons-HeadingH4:before {
  content: "\e9e5";
}

.coolicons-HeadingH5:before {
  content: "\e9e6";
}

.coolicons-HeadingH6:before {
  content: "\e9e7";
}

.coolicons-Heading:before {
  content: "\e9e8";
}

.coolicons-Headphones:before {
  content: "\e9e9";
}

.coolicons-Heart01:before {
  content: "\e9ea";
}

.coolicons-Heart02:before {
  content: "\e9eb";
}

.coolicons-Help:before {
  content: "\e9ec";
}

.coolicons-Hide:before {
  content: "\e9ed";
}

.coolicons-House01:before {
  content: "\e9ee";
}

.coolicons-House02:before {
  content: "\e9ef";
}

.coolicons-House03:before {
  content: "\e9f0";
}

.coolicons-HouseAdd:before {
  content: "\e9f1";
}

.coolicons-HouseCheck:before {
  content: "\e9f2";
}

.coolicons-HouseClose:before {
  content: "\e9f3";
}

.coolicons-HouseRemove:before {
  content: "\e9f4";
}

.coolicons-Image01:before {
  content: "\e9f5";
}

.coolicons-Image02:before {
  content: "\e9f6";
}

.coolicons-Info:before {
  content: "\e9f7";
}

.coolicons-Instance:before {
  content: "\e9f8";
}

.coolicons-Italic:before {
  content: "\e9f9";
}

.coolicons-Keyboard:before {
  content: "\e9fa";
}

.coolicons-Label:before {
  content: "\e9fb";
}

.coolicons-Laptop:before {
  content: "\e9fc";
}

.coolicons-Layer:before {
  content: "\e9fd";
}

.coolicons-Layers:before {
  content: "\e9fe";
}

.coolicons-Leaf:before {
  content: "\e9ff";
}

.coolicons-LineL:before {
  content: "\ea00";
}

.coolicons-LineM:before {
  content: "\ea01";
}

.coolicons-LineS:before {
  content: "\ea02";
}

.coolicons-LineXl:before {
  content: "\ea03";
}

.coolicons-LinkBreak:before {
  content: "\ea04";
}

.coolicons-LinkHorizontalOff:before {
  content: "\ea05";
}

.coolicons-LinkHorizontal:before {
  content: "\ea06";
}

.coolicons-LinkVertical:before {
  content: "\ea07";
}

.coolicons-Link:before {
  content: "\ea08";
}

.coolicons-ListAdd:before {
  content: "\ea09";
}

.coolicons-ListCheck:before {
  content: "\ea0a";
}

.coolicons-ListChecklist:before {
  content: "\ea0b";
}

.coolicons-ListOrdered:before {
  content: "\ea0c";
}

.coolicons-ListRemove:before {
  content: "\ea0d";
}

.coolicons-ListUnordered:before {
  content: "\ea0e";
}

.coolicons-Loading:before {
  content: "\ea0f";
}

.coolicons-LockOpen:before {
  content: "\ea10";
}

.coolicons-Lock:before {
  content: "\ea11";
}

.coolicons-LogOut:before {
  content: "\ea12";
}

.coolicons-MagnifyingGlassMinus:before {
  content: "\ea13";
}

.coolicons-MagnifyingGlassPlus:before {
  content: "\ea14";
}

.coolicons-MailOpen:before {
  content: "\ea15";
}

.coolicons-Mail:before {
  content: "\ea16";
}

.coolicons-MainComponent:before {
  content: "\ea17";
}

.coolicons-MapPin:before {
  content: "\ea18";
}

.coolicons-Map:before {
  content: "\ea19";
}

.coolicons-Mention:before {
  content: "\ea1a";
}

.coolicons-MenuAlt01:before {
  content: "\ea1b";
}

.coolicons-MenuAlt02:before {
  content: "\ea1c";
}

.coolicons-MenuAlt03:before {
  content: "\ea1d";
}

.coolicons-MenuAlt04:before {
  content: "\ea1e";
}

.coolicons-MenuAlt05:before {
  content: "\ea1f";
}

.coolicons-MenuDuoLG:before {
  content: "\ea20";
}

.coolicons-MenuDuoMD:before {
  content: "\ea21";
}

.coolicons-MobileButton:before {
  content: "\ea22";
}

.coolicons-Mobile:before {
  content: "\ea23";
}

.coolicons-MonitorPlay:before {
  content: "\ea24";
}

.coolicons-Monitor:before {
  content: "\ea25";
}

.coolicons-Moon:before {
  content: "\ea26";
}

.coolicons-MoreGridBig:before {
  content: "\ea27";
}

.coolicons-MoreGridSmall:before {
  content: "\ea28";
}

.coolicons-MoreHorizontal:before {
  content: "\ea29";
}

.coolicons-MoreVertical:before {
  content: "\ea2a";
}

.coolicons-Mouse:before {
  content: "\ea2b";
}

.coolicons-MoveHorizontal:before {
  content: "\ea2c";
}

.coolicons-MoveVertical:before {
  content: "\ea2d";
}

.coolicons-Move:before {
  content: "\ea2e";
}

.coolicons-MovingDesk:before {
  content: "\ea2f";
}

.coolicons-Navigation:before {
  content: "\ea30";
}

.coolicons-NoteEdit:before {
  content: "\ea31";
}

.coolicons-NoteSearch:before {
  content: "\ea32";
}

.coolicons-Note:before {
  content: "\ea33";
}

.coolicons-Notebook:before {
  content: "\ea34";
}

.coolicons-OctagonCheck:before {
  content: "\ea35";
}

.coolicons-OctagonHelp:before {
  content: "\ea36";
}

.coolicons-OctagonWarning:before {
  content: "\ea37";
}

.coolicons-Octagon:before {
  content: "\ea38";
}

.coolicons-Option:before {
  content: "\ea39";
}

.coolicons-PaperPlane:before {
  content: "\ea3a";
}

.coolicons-PaperclipAttechmentHorizontal:before {
  content: "\ea3b";
}

.coolicons-PaperclipAttechmentTilt:before {
  content: "\ea3c";
}

.coolicons-Paragraph:before {
  content: "\ea3d";
}

.coolicons-Path:before {
  content: "\ea3e";
}

.coolicons-PauseCircle:before {
  content: "\ea3f";
}

.coolicons-Pause:before {
  content: "\ea40";
}

.coolicons-Phone:before {
  content: "\ea41";
}

.coolicons-Planet:before {
  content: "\ea42";
}

.coolicons-PlayCircle:before {
  content: "\ea43";
}

.coolicons-Play:before {
  content: "\ea44";
}

.coolicons-Printer:before {
  content: "\ea45";
}

.coolicons-Puzzle:before {
  content: "\ea46";
}

.coolicons-QrCode:before {
  content: "\ea47";
}

.coolicons-RadioFill:before {
  content: "\ea48";
}

.coolicons-RadioUnchecked:before {
  content: "\ea49";
}

.coolicons-Rainbow:before {
  content: "\ea4a";
}

.coolicons-Redo:before {
  content: "\ea4b";
}

.coolicons-RemoveMinusCircle:before {
  content: "\ea4c";
}

.coolicons-RemoveMinus:before {
  content: "\ea4d";
}

.coolicons-Rewind:before {
  content: "\ea4e";
}

.coolicons-Rows:before {
  content: "\ea4f";
}

.coolicons-Ruler:before {
  content: "\ea50";
}

.coolicons-Save:before {
  content: "\ea51";
}

.coolicons-SearchMagnifyingGlass:before {
  content: "\ea52";
}

.coolicons-SelectMultiple:before {
  content: "\ea53";
}

.coolicons-SettingsFuture:before {
  content: "\ea54";
}

.coolicons-Settings:before {
  content: "\ea55";
}

.coolicons-ShareAndroid:before {
  content: "\ea56";
}

.coolicons-ShareiOSExport:before {
  content: "\ea57";
}

.coolicons-ShieldCheck:before {
  content: "\ea58";
}

.coolicons-ShieldWarning:before {
  content: "\ea59";
}

.coolicons-Shield:before {
  content: "\ea5a";
}

.coolicons-ShoppingBag01:before {
  content: "\ea5b";
}

.coolicons-ShoppingBag02:before {
  content: "\ea5c";
}

.coolicons-ShoppingCart01:before {
  content: "\ea5d";
}

.coolicons-ShoppingCart02:before {
  content: "\ea5e";
}

.coolicons-Show:before {
  content: "\ea5f";
}

.coolicons-Shrink:before {
  content: "\ea60";
}

.coolicons-Shuffle:before {
  content: "\ea61";
}

.coolicons-SingleQuotesL:before {
  content: "\ea62";
}

.coolicons-SingleQuotesR:before {
  content: "\ea63";
}

.coolicons-SkipBack:before {
  content: "\ea64";
}

.coolicons-SkipForward:before {
  content: "\ea65";
}

.coolicons-Slider01:before {
  content: "\ea66";
}

.coolicons-Slider02:before {
  content: "\ea67";
}

.coolicons-Slider03:before {
  content: "\ea68";
}

.coolicons-SortAscending:before {
  content: "\ea69";
}

.coolicons-SortDescending:before {
  content: "\ea6a";
}

.coolicons-SquareCheck:before {
  content: "\ea6b";
}

.coolicons-SquareHelp:before {
  content: "\ea6c";
}

.coolicons-SquareWarning:before {
  content: "\ea6d";
}

.coolicons-Square:before {
  content: "\ea6e";
}

.coolicons-Star:before {
  content: "\ea6f";
}

.coolicons-StopCircle:before {
  content: "\ea70";
}

.coolicons-StopSign:before {
  content: "\ea71";
}

.coolicons-Stop:before {
  content: "\ea72";
}

.coolicons-Strikethrough:before {
  content: "\ea73";
}

.coolicons-Suitcase:before {
  content: "\ea74";
}

.coolicons-Sun:before {
  content: "\ea75";
}

.coolicons-SwatchesPalette:before {
  content: "\ea76";
}

.coolicons-SwichtLeft:before {
  content: "\ea77";
}

.coolicons-SwichtRight:before {
  content: "\ea78";
}

.coolicons-TableAdd:before {
  content: "\ea79";
}

.coolicons-TableRemove:before {
  content: "\ea7a";
}

.coolicons-Table:before {
  content: "\ea7b";
}

.coolicons-TabletButton:before {
  content: "\ea7c";
}

.coolicons-Tablet:before {
  content: "\ea7d";
}

.coolicons-Tag:before {
  content: "\ea7e";
}

.coolicons-Terminal:before {
  content: "\ea7f";
}

.coolicons-TextAlignCenter:before {
  content: "\ea80";
}

.coolicons-TextAlignJustify:before {
  content: "\ea81";
}

.coolicons-TextAlignLeft:before {
  content: "\ea82";
}

.coolicons-TextAlignRight:before {
  content: "\ea83";
}

.coolicons-Text:before {
  content: "\ea84";
}

.coolicons-TicketVoucher:before {
  content: "\ea85";
}

.coolicons-TimerAdd:before {
  content: "\ea86";
}

.coolicons-TimerClose:before {
  content: "\ea87";
}

.coolicons-TimerRemove:before {
  content: "\ea88";
}

.coolicons-Timer:before {
  content: "\ea89";
}

.coolicons-TrashEmpty:before {
  content: "\ea8a";
}

.coolicons-TrashFull:before {
  content: "\ea8b";
}

.coolicons-TrendingDown:before {
  content: "\ea8c";
}

.coolicons-TrendingUp:before {
  content: "\ea8d";
}

.coolicons-TriangleCheck:before {
  content: "\ea8e";
}

.coolicons-TriangleWarning:before {
  content: "\ea8f";
}

.coolicons-Triangle:before {
  content: "\ea90";
}

.coolicons-Underline:before {
  content: "\ea91";
}

.coolicons-Undo:before {
  content: "\ea92";
}

.coolicons-UnfoldLess:before {
  content: "\ea93";
}

.coolicons-UnfoldMore:before {
  content: "\ea94";
}

.coolicons-User01:before {
  content: "\ea95";
}

.coolicons-User02:before {
  content: "\ea96";
}

.coolicons-User03:before {
  content: "\ea97";
}

.coolicons-UserAdd:before {
  content: "\ea98";
}

.coolicons-UserCardID:before {
  content: "\ea99";
}

.coolicons-UserCheck:before {
  content: "\ea9a";
}

.coolicons-UserCircle:before {
  content: "\ea9b";
}

.coolicons-UserClose:before {
  content: "\ea9c";
}

.coolicons-UserRemove:before {
  content: "\ea9d";
}

.coolicons-UserSquare:before {
  content: "\ea9e";
}

.coolicons-UserVoice:before {
  content: "\ea9f";
}

.coolicons-UsersGroup:before {
  content: "\eaa0";
}

.coolicons-Users:before {
  content: "\eaa1";
}

.coolicons-VolumeMax:before {
  content: "\eaa2";
}

.coolicons-VolumeMin:before {
  content: "\eaa3";
}

.coolicons-VolumeMinus:before {
  content: "\eaa4";
}

.coolicons-VolumeOff02:before {
  content: "\eaa5";
}

.coolicons-VolumeOff:before {
  content: "\eaa6";
}

.coolicons-VolumePlus:before {
  content: "\eaa7";
}

.coolicons-Warning:before {
  content: "\eaa8";
}

.coolicons-WaterDrop:before {
  content: "\eaa9";
}

.coolicons-WavyCheck:before {
  content: "\eaaa";
}

.coolicons-WavyHelp:before {
  content: "\eaab";
}

.coolicons-WavyWarning:before {
  content: "\eaac";
}

.coolicons-Wavy:before {
  content: "\eaad";
}

.coolicons-WifiHigh:before {
  content: "\eaae";
}

.coolicons-WifiLow:before {
  content: "\eaaf";
}

.coolicons-WifiMedium:before {
  content: "\eab0";
}

.coolicons-WifiNone:before {
  content: "\eab1";
}

.coolicons-WifiOff:before {
  content: "\eab2";
}

.coolicons-WifiProblem:before {
  content: "\eab3";
}

.coolicons-WindowCheck:before {
  content: "\eab4";
}

.coolicons-WindowClose:before {
  content: "\eab5";
}

.coolicons-WindowCodeBlock:before {
  content: "\eab6";
}

.coolicons-WindowSidebar:before {
  content: "\eab7";
}

.coolicons-WindowTerminal:before {
  content: "\eab8";
}

.coolicons-Window:before {
  content: "\eab9";
}