/** export vars */
@import './basic-var.scss';


$var-primary: var(--lu-primary-F);
$var-success: var(--lu-success-F);
$var-warning: var(--lu-warning-F);
$var-danger: var(--lu-danger-F);

$var-primary-A: var(--lu-primary-A);
$var-primary-B: var(--lu-primary-B);
$var-primary-C: var(--lu-primary-C);
$var-primary-D: var(--lu-primary-D);
$var-primary-E: var(--lu-primary-E);
$var-primary-F: var(--lu-primary-F);
$var-primary-G: var(--lu-primary-G);

$var-success-A: var(--lu-success-A);
$var-success-B: var(--lu-success-B);
$var-success-C: var(--lu-success-C);
$var-success-D: var(--lu-success-D);
$var-success-E: var(--lu-success-E);
$var-success-F: var(--lu-success-F);
$var-success-G: var(--lu-success-G);

$var-warning-A: var(--lu-warning-A);
$var-warning-B: var(--lu-warning-B);
$var-warning-C: var(--lu-warning-C);
$var-warning-D: var(--lu-warning-D);
$var-warning-E: var(--lu-warning-E);
$var-warning-F: var(--lu-warning-F);
$var-warning-G: var(--lu-warning-G);

$var-danger-A: var(--lu-danger-A);
$var-danger-B: var(--lu-danger-B);
$var-danger-C: var(--lu-danger-C);
$var-danger-D: var(--lu-danger-D);
$var-danger-E: var(--lu-danger-E);
$var-danger-F: var(--lu-danger-F);
$var-danger-G: var(--lu-danger-G);

$var-text-A: var(--lu-text-A);
$var-text-B: var(--lu-text-B);
$var-text-C: var(--lu-text-C);
$var-text-D: var(--lu-text-D);
$var-text-E: var(--lu-text-E);
$var-text-F: var(--lu-text-F);
$var-text-G: var(--lu-text-G);

$var-color-boder-G: var(--lu-color-boder-G);
$var-color-boder-F: var(--lu-color-boder-F);
$var-color-boder-E: var(--lu-color-boder-E);
$var-color-boder-D: var(--lu-color-boder-D);
$var-color-boder-C: var(--lu-color-boder-C);
$var-color-boder-B: var(--lu-color-boder-B);
$var-color-boder-A: var(--lu-color-boder-A);

$var-color-fill-G: var(--lu-color-fill-G);
$var-color-fill-F: var(--lu-color-fill-F);
$var-color-fill-E: var(--lu-color-fill-E);
$var-color-fill-D: var(--lu-color-fill-D);
$var-color-fill-C: var(--lu-color-fill-C);
$var-color-fill-B: var(--lu-color-fill-B);
$var-color-fill-A: var(--lu-color-fill-A);


$var-border-none: var(--lu-border-none);
$var-border-A: var(--lu-border-A);
$var-border-B: var(--lu-border-B);
$var-border-C: var(--lu-border-C);
$var-border-D: var(--lu-border-D);
$var-border-E: var(--lu-border-E);

$var-border-radius-none: var(--lu-border-radius-none);
$var-border-radius-small: var(--lu-border-radius-small);
$var-border-radius-medium: var(--lu-border-radius-medium);
$var-border-radius-large: var(--lu-border-radius-large);
$var-border-radius-round: var(--lu-border-radius-round);
$var-border-radius-circle: var(--lu-border-radius-circle);

$var-border-style-solid: var(--lu-border-style-solid);
$var-border-style-dashed: var(--lu-border-style-dashed);
$var-border-style-dotted: var(--lu-border-style-dotted);

$var-size-none: var(--lu-size-none);
$var-size-1: var(--lu-size-1);
$var-size-2: var(--lu-size-2);
$var-size-3: var(--lu-size-3);
$var-size-4: var(--lu-size-4);
$var-size-5: var(--lu-size-5);
$var-size-6: var(--lu-size-6);
$var-size-7: var(--lu-size-7);
$var-size-8: var(--lu-size-8);
$var-size-9: var(--lu-size-9);
$var-size-10: var(--lu-size-10);
$var-size-11: var(--lu-size-11);
$var-size-12: var(--lu-size-12);
$var-size-13: var(--lu-size-13);
$var-size-14: var(--lu-size-14);
$var-size-15: var(--lu-size-15);
$var-size-16: var(--lu-size-16);
$var-size-17: var(--lu-size-17);
$var-size-18: var(--lu-size-18);
$var-size-19: var(--lu-size-19);
$var-size-20: var(--lu-size-20);
$var-size-21: var(--lu-size-21);
$var-size-22: var(--lu-size-22);
$var-size-23: var(--lu-size-23);
$var-size-24: var(--lu-size-24);
$var-size-25: var(--lu-size-25);
$var-size-26: var(--lu-size-26);
$var-size-27: var(--lu-size-27);
$var-size-28: var(--lu-size-28);
$var-size-29: var(--lu-size-29);
$var-size-30: var(--lu-size-30);
$var-size-31: var(--lu-size-31);
$var-size-32: var(--lu-size-32);
$var-size-33: var(--lu-size-33);
$var-size-34: var(--lu-size-34);
$var-size-35: var(--lu-size-35);
$var-size-36: var(--lu-size-36);
$var-size-37: var(--lu-size-37);
$var-size-38: var(--lu-size-38);
$var-size-39: var(--lu-size-39);
$var-size-40: var(--lu-size-40);
$var-size-41: var(--lu-size-41);
$var-size-42: var(--lu-size-42);
$var-size-43: var(--lu-size-43);
$var-size-44: var(--lu-size-44);
$var-size-45: var(--lu-size-45);
$var-size-46: var(--lu-size-46);
$var-size-47: var(--lu-size-47);
$var-size-48: var(--lu-size-48);
$var-size-49: var(--lu-size-49);
$var-size-50: var(--lu-size-50);

$var-size-mini: var(--lu-size-6);
$var-size-small: var(--lu-size-7);
$var-size-default: var(--lu-size-8);
$var-size-large: var(--lu-size-9);

$var-shadow-none: var(--lu-shadow-none);
$var-shadow-A: var(--lu-shadow-special);
$var-shadow-B: var(--lu-shadow-B);
$var-shadow-C: var(--lu-shadow-C);
$var-shadow-D: var(--lu-shadow-D);
$var-shadow-center: var(--lu-shadow-center);
$var-shadow-up: var(--lu-shadow-up);
$var-shadow-down: var(--lu-shadow-down);
$var-shadow-left: var(--lu-shadow-left);
$var-shadow-right: var(--lu-shadow-right);
$var-shadow-left-up: var(--lu-shadow-left-up);
$var-shadow-left-down: var(--lu-shadow-left-down);
$var-shadow-right-up: var(--lu-shadow-right-up);
$var-shadow-right-down: var(--lu-shadow-right-down);

$var-opacity-none: var(--lu-opacity-none);
$var-opacity-1: var(--lu-opacity-1);
$var-opacity-2: var(--lu-opacity-2);
$var-opacity-3: var(--lu-opacity-3);
$var-opacity-4: var(--lu-opacity-4);
$var-opacity-5: var(--lu-opacity-5);
$var-opacity-6: var(--lu-opacity-6);
$var-opacity-7: var(--lu-opacity-7);
$var-opacity-8: var(--lu-opacity-8);
$var-opacity-9: var(--lu-opacity-9);
$var-opacity-10: var(--lu-opacity-10);