/** export vars */
@import './basic-var.scss';


$var-primary: var(--lu-primary-F);
$var-success: var(--lu-success-F);
$var-warning: var(--lu-warning-F);
$var-danger: var(--lu-danger-F);

$var-primary-A: var(--lu-primary-A);
$var-primary-B: var(--lu-primary-B);
$var-primary-C: var(--lu-primary-C);
$var-primary-D: var(--lu-primary-D);
$var-primary-E: var(--lu-primary-E);
$var-primary-F: var(--lu-primary-F);
$var-primary-G: var(--lu-primary-G);

$var-success-A: var(--lu-success-A);
$var-success-B: var(--lu-success-B);
$var-success-C: var(--lu-success-C);
$var-success-D: var(--lu-success-D);
$var-success-E: var(--lu-success-E);
$var-success-F: var(--lu-success-F);
$var-success-G: var(--lu-success-G);

$var-warning-A: var(--lu-warning-A);
$var-warning-B: var(--lu-warning-B);
$var-warning-C: var(--lu-warning-C);
$var-warning-D: var(--lu-warning-D);
$var-warning-E: var(--lu-warning-E);
$var-warning-F: var(--lu-warning-F);
$var-warning-G: var(--lu-warning-G);

$var-danger-A: var(--lu-danger-A);
$var-danger-B: var(--lu-danger-B);
$var-danger-C: var(--lu-danger-C);
$var-danger-D: var(--lu-danger-D);
$var-danger-E: var(--lu-danger-E);
$var-danger-F: var(--lu-danger-F);
$var-danger-G: var(--lu-danger-G);

$var-text-A: var(--lu-text-A);
$var-text-B: var(--lu-text-B);
$var-text-C: var(--lu-text-C);
$var-text-D: var(--lu-text-D);
$var-text-E: var(--lu-text-E);
$var-text-F: var(--lu-text-F);
$var-text-G: var(--lu-text-G);

$var-color-boder-G: var(--lu-color-boder-G);
$var-color-boder-F: var(--lu-color-boder-F);
$var-color-boder-E: var(--lu-color-boder-E);
$var-color-boder-D: var(--lu-color-boder-D);
$var-color-boder-C: var(--lu-color-boder-C);
$var-color-boder-B: var(--lu-color-boder-B);
$var-color-boder-A: var(--lu-color-boder-A);

$var-color-fill-G: var(--lu-color-fill-G);
$var-color-fill-F: var(--lu-color-fill-F);
$var-color-fill-E: var(--lu-color-fill-E);
$var-color-fill-D: var(--lu-color-fill-D);
$var-color-fill-C: var(--lu-color-fill-C);
$var-color-fill-B: var(--lu-color-fill-B);
$var-color-fill-A: var(--lu-color-fill-A);


$var-border-none: 0;
$var-border-A: 1px;
$var-border-B: 2px;
$var-border-C: 3px;
$var-border-D: 4px;
$var-border-E: 5px;

$var-border-radius-none: 0;
$var-border-radius-small: 2px;
$var-border-radius-medium: 4px;
$var-border-radius-large: 8px;
$var-border-radius-round: 15px;
$var-border-radius-circle: 50%;

$var-border-style-solid: solid;
$var-border-style-dashed: dashed;
$var-border-style-dotted: dotted;

$var-size-none: 0;
$var-size-1: 4px;
$var-size-2: 8px;
$var-size-3: 12px;
$var-size-4: 16px;
$var-size-5: 20px;
$var-size-6: 24px;
$var-size-7: 28px;
$var-size-8: 32px;
$var-size-9: 36px;
$var-size-10: 40px;
$var-size-11: 44px;
$var-size-12: 48px;
$var-size-13: 52px;
$var-size-14: 56px;
$var-size-15: 60px;
$var-size-16: 64px;
$var-size-17: 68px;
$var-size-18: 72px;
$var-size-19: 76px;
$var-size-20: 80px;
$var-size-21: 84px;
$var-size-22: 88px;
$var-size-23: 92px;
$var-size-24: 96px;
$var-size-25: 100px;
$var-size-26: 104px;
$var-size-27: 108px;
$var-size-28: 112px;
$var-size-29: 116px;
$var-size-30: 120px;
$var-size-31: 124px;
$var-size-32: 128px;
$var-size-33: 132px;
$var-size-34: 136px;
$var-size-35: 140px;
$var-size-36: 144px;
$var-size-37: 148px;
$var-size-38: 152px;
$var-size-39: 156px;
$var-size-40: 160px;
$var-size-41: 164px;
$var-size-42: 168px;
$var-size-43: 172px;
$var-size-44: 176px;
$var-size-45: 180px;
$var-size-46: 184px;
$var-size-47: 188px;
$var-size-48: 192px;
$var-size-49: 196px;
$var-size-50: 200px;

$var-size-mini: $var-size-6;
$var-size-small: $var-size-7;
$var-size-default: $var-size-8;
$var-size-large: $var-size-9;

$var-shadow-none: none;
$var-shadow-special: 0 0 1px rgba(0, 0, 0, 0.3);
$var-shadow1-center: 0 0 5px rgba(0, 0, 0, 0.1);
$var-shadow1-up: 0 -2px 5px rgba(0, 0, 0, 0.1);
$var-shadow1-down: 0 2px 5px rgba(0, 0, 0, 0.1);
$var-shadow1-left: -2px 0 5px rgba(0, 0, 0, 0.1);
$var-shadow1-right: 2px 0 5px rgba(0, 0, 0, 0.1);
$var-shadow1-left-up: -2px -2px 5px rgba(0, 0, 0, 0.1);
$var-shadow1-left-down: -2px 2px 5px rgba(0, 0, 0, 0.1);
$var-shadow1-right-up: 2px -2px 5px rgba(0, 0, 0, 0.1);
$var-shadow1-right-down: 2px 2px 5px rgba(0, 0, 0, 0.1);
$var-shadow2-center: 0 0 10px rgba(0, 0, 0, 0.1);
$var-shadow2-up: 0 -4px 10px rgba(0, 0, 0, 0.1);
$var-shadow2-down: 0 4px 10px rgba(0, 0, 0, 0.1);
$var-shadow2-left: -4px 0 10px rgba(0, 0, 0, 0.1);
$var-shadow2-right: 4px 0 10px rgba(0, 0, 0, 0.1);
$var-shadow2-left-up: -4px -4px 10px rgba(0, 0, 0, 0.1);
$var-shadow2-left-down: -4px 4px 10px rgba(0, 0, 0, 0.1);
$var-shadow2-right-up: 4px -4px 10px rgba(0, 0, 0, 0.1);
$var-shadow2-right-down: 4px 4px 10px rgba(0, 0, 0, 0.1);
$var-shadow3-center: 0 0 20px rgba(0, 0, 0, 0.1);
$var-shadow3-up: 0 -8px 20px rgba(0, 0, 0, 0.1);
$var-shadow3-down: 0 8px 20px rgba(0, 0, 0, 0.1);
$var-shadow3-left: -8px 0 20px rgba(0, 0, 0, 0.1);
$var-shadow3-right: 8px 0 20px rgba(0, 0, 0, 0.1);
$var-shadow3-left-up: -8px -8px 20px rgba(0, 0, 0, 0.1);
$var-shadow3-left-down: -8px 8px 20px rgba(0, 0, 0, 0.1);
$var-shadow3-right-up: 8px -8px 20px rgba(0, 0, 0, 0.1);
$var-shadow3-right-down: 8px 8px 20px rgba(0, 0, 0, 0.1);

$var-opacity-none: 0;
$var-opacity-1: 10%;
$var-opacity-2: 20%;
$var-opacity-3: 30%;
$var-opacity-4: 40%;
$var-opacity-5: 50%;
$var-opacity-6: 60%;
$var-opacity-7: 70%;
$var-opacity-8: 80%;
$var-opacity-9: 90%;
$var-opacity-10: 100%;